//
// CSS Reset
//



*, *::before, *::after{
    box-sizing: border-box;
}

html {
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}