/*!
 Name: Blog Post Card 1
 Block Name: core/group
 Class Name: basse-pattern-blog-post-card-1
 */



@use '../../partials/mixins';

:where(.wp-block-group) {
    &:where(.basse-pattern-blog-post-card-1) {
        :where(.wp-block-post-title) {
            text-wrap: balance;
            @include mixins.truncate($line-limit: 3);
        }

        :where(.wp-block-post-featured-image) {
            order: -1;
        }

        :where(.wp-block-post-excerpt) {
            text-wrap: pretty;
            overflow: hidden;
        }
    }
}