/*!
 Name: Blog Post Card 1
 Block Name: core/group
 Class Name: basse-pattern-blog-post-card-1
 */



 :where(.wp-block-group) {
    &:where(.basse-pattern-blog-post-card-1) {
        :where(.wp-block-post-title) {
            text-wrap: balance;

            /* CSS text truncate */
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;      /* Limit to 3 lines */
            text-overflow: ellipsis;    /* Add ellipsis (...) at the end */
        }

        :where(.wp-block-post-featured-image) {
            order: -1;
        }

        :where(.wp-block-post-excerpt) {
            text-wrap: pretty;
            overflow: hidden;
        }
    }
 }