/*!
 Name: outline-small
 Block Name: core/read-more
 Class Name: is-style-outline-small
 */.wp-block-read-more.is-style-outline-small{--_border-width:1px;color:currentColor;background-color:rgba(0,0,0,0);font-size:var(--wp--preset--font-size--small);padding:calc(.675em - 1px) calc(1em - 1px);padding:calc(.675em - var(--_border-width)) calc(1em - var(--_border-width));border:solid 1px;border:solid var(--_border-width)}
