/*!
 Name: outline-default
 Block Name: core/read-more
 Class Name: is-style-outline-default
 */.wp-block-read-more.is-style-outline-default{--_border-width:1px;color:currentColor;background-color:rgba(0,0,0,0);padding:calc(.75em - 1px) calc(1.125em - 1px);padding:calc(.75em - var(--_border-width)) calc(1.125em - var(--_border-width));border:solid 1px;border:solid var(--_border-width)}
