//
// Custom CSS for core/navigation block
//



// Change desktop navigtion to mobile navigation breakpoint from 599px to 782px;
@media(max-width: 782px) {
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: flex;
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: none;
    }
}

// core/navigation block default style
.wp-block-navigation {
    :where(.wp-block-navigation__responsive-container) {
        left: auto;

        &.is-menu-open {
            width: min(360px, 100%);
        }
    }
    
    :where(.wp-block-navigation-item__content) {
        text-decoration: underline;
        text-decoration-color: transparent;
    }
    
    :where(.wp-block-navigation-item) {
        &:where(.current-menu-item) {
            .wp-block-navigation-item__content {
                text-decoration-color: currentColor;
            }
        }
        .wp-block-navigation-item__content {
            &:is(:hover, :focus, :focus-visible) {
                text-decoration-color: currentColor;
            }
        }
    }
}